body{
    margin: 0%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    margin-top: 5px;
}
.orrange-color{
    color: orange;
}
h1{
    font-weight: 900;
    font-size: 50px;
}
h3{
    font-size:  40px;
}
p{
    text-align: justify;
    font-size: 30px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(to top left, rgb(255, 98, 0) , rgb(255, 206, 128));
    font-weight: 900;
    padding: 15px 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.button{
    margin-top: 50px;
}
.stylish-font1{
    font-family: 'Dancing Script', cursive;
}